---
---

// Variables
@import "utilities/variables";

// Utility styles
@import "utilities/mixins";
@import "utilities/utils";
@import "utilities/syntax-highlighting";
@import "utilities/animations";

// Core
@import "base/normalize";
@import "base/global";
@import "base/layout";
@import "base/typography";

// Components
@import "components/navigation";
@import "components/pagination";
@import "components/code";
@import "components/message";

// Pages
@import "pages/landing";
@import "pages/posts";

/* Apply to the whole page */
html {
  zoom: 0.8; /* Chrome, Edge, Safari */
  -moz-transform: scale(0.8); /* Firefox */
  -moz-transform-origin: 0 0; /* Make sure scaling starts from top-left */
}
