/**
  * _posts.scss
  * Each post is wrapped in `.post` and is used on default and post layouts. Each
  * page is wrapped in `.page` and is only used on the page layout.
  */

.page,
.post {
 display: block;
  margin-bottom: 0.4em;
}

// Blog post or page title
.page-title,
.post-title,
.post-title a {
  color: $post-title-color;
}

.page-title
{
  margin-top: 0;
}

.post-title {
  display: flex;
  float: left;
  margin-top: 0;

}

// Meta data line below post title
.post-date {
  display: flex;
  float: right;
  color: $post-date-color;
}
