/**
  * _variables.scss
  * Contains SCSS variables used in this website's stylesheet.
  */

// Globals
$font-stack: 'Source Sans Pro', sans-serif;
$font-size: 16px;
$font-size-mobile: 14px;

$code-font-stack: 'Noto Sans Mono', 'Source Code Pro', monospace;

// Body
$body-text-color: #181818;
$body-background-color: #ffffff;
$body-top-border-color: #181818;
$body-top-border-width: 5px;

// Links
$link-color: #16537e;

// Navigation
$nav-bottom-border-color: #c0c0c0;
$nav-bottom-border-width: 1px;

$nav-link-color: #181818;
$nav-link-padding-y: 0.5rem;
$nav-link-padding-x: 1.4rem;
$nav-link-underline-color: #c0c0c0;

$nav-icon-color: #ffffff;
$nav-icon-background-color: #181818;

// Blog post headings and page titles
$post-title-color: #181818;
$post-date-color: #9a9a9a;

// Message box
$message-color: #717171;
$message-background-color: #f9f9f9;
