<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <nav class="nav-main">
      <ul>
	      <li class="hvr-underline-reveal nav-logo"><a href="{{ site.url }}"><img src="{{ site.url }}/favicon.png" alt="logo" width="16" height="16"></a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/about/">about</a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/blog/">blog</a></li>
      </ul>
    </nav>

    <div class="container content">
      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <div class="ftr-links">
          <a href="https://github.com/brpy">[github]</a>
          <a href="https://linkedin.com/in/bhargav-chowdary-v/">[linkedin]</a>
        </div>
      </footer>
    </div>

  </body>
</html>
